.footer {
	width: 100%;
	background-color: transparent;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	color: #f5f5f5;
	text-decoration: underline;
}

.footer a:hover {
	text-decoration: none;
}